/*
Markdown.css
*/
font-face {
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;

}

.markdown-body .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdown-body .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

.markdown-body .anchor:focus {
    outline: none;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    line-height: 1.5;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body .pl-c {
    color: #6a737d;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
    color: #005cc5;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
    color: #6f42c1;
}

.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
    color: #24292e;
}

.markdown-body .pl-ent {
    color: #22863a;
}

.markdown-body .pl-k {
    color: #d73a49;
}

.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
    color: #032f62;
}

.markdown-body .pl-smw,
.markdown-body .pl-v {
    color: #e36209;
}

.markdown-body .pl-bu {
    color: #b31d28;
}

.markdown-body .pl-ii {
    background-color: #b31d28;
    color: #fafbfc;
}

.markdown-body .pl-c2 {
    background-color: #d73a49;
    color: #fafbfc;
}

.markdown-body .pl-c2:before {
    content: "^M";
}

.markdown-body .pl-sr .pl-cce {
    color: #22863a;
    font-weight: 700;
}

.markdown-body .pl-ml {
    color: #735c0f;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
    color: #005cc5;
    font-weight: 700;
}

.markdown-body .pl-mi {
    color: #24292e;
    font-style: italic;
}

.markdown-body .pl-mb {
    color: #24292e;
    font-weight: 700;
}

.markdown-body .pl-md {
    background-color: #ffeef0;
    color: #b31d28;
}

.markdown-body .pl-mi1 {
    background-color: #f0fff4;
    color: #22863a;
}

.markdown-body .pl-mc {
    background-color: #ffebda;
    color: #e36209;
}

.markdown-body .pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa;
}

.markdown-body .pl-mdr {
    color: #6f42c1;
    font-weight: 700;
}

.markdown-body .pl-ba {
    color: #586069;
}

.markdown-body .pl-sg {
    color: #959da5;
}

.markdown-body .pl-corl {
    color: #032f62;
    text-decoration: underline;
}

.markdown-body details {
    display: block;
}

.markdown-body summary {
    display: list-item;
}

.markdown-body a {
    background-color: transparent;
}

.markdown-body a:active,
.markdown-body a:hover {
    outline-width: 0;
}

.markdown-body strong {
    font-weight: inherit;
    font-weight: bolder;
}

.markdown-body h1 {
    font-size: 2em;
    margin: .67em 0;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.markdown-body hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.markdown-body input {
    font: inherit;
    margin: 0;
}

.markdown-body input {
    overflow: visible;
}

.markdown-body [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-body * {
    box-sizing: border-box;
}

.markdown-body input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-body a {
    color: #0366d6;
    text-decoration: none;
}

.markdown-body a:hover {
    text-decoration: underline;
}

.markdown-body strong {
    font-weight: 600;
}

.markdown-body hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}

.markdown-body hr:before {
    content: "";
    display: table;
}

.markdown-body hr:after {
    clear: both;
    content: "";
    display: table;
}

.markdown-body table {
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown-body td,
.markdown-body th {
    padding: 0;
}

.markdown-body details summary {
    cursor: pointer;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-bottom: 0;
    margin-top: 0;
}

.markdown-body h1 {
    font-size: 32px;
}

.markdown-body h1,
.markdown-body h2 {
    font-weight: 600;
}

.markdown-body h2 {
    font-size: 24px;
}

.markdown-body h3 {
    font-size: 20px;
}

.markdown-body h3,
.markdown-body h4 {
    font-weight: 600;
}

.markdown-body h4 {
    font-size: 16px;
}

.markdown-body h5 {
    font-size: 14px;
}

.markdown-body h5,
.markdown-body h6 {
    font-weight: 600;
}

.markdown-body h6 {
    font-size: 12px;
}

.markdown-body p {
    margin-bottom: 10px;
    margin-top: 0;
}

.markdown-body blockquote {
    margin: 0;
}

.markdown-body ol,
.markdown-body ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
    list-style-type: lower-alpha;
}

.markdown-body dd {
    margin-left: 0;
}

.markdown-body code,
.markdown-body pre {
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-size: 12px;
}

.markdown-body pre {
    margin-bottom: 0;
    margin-top: 0;
}

.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.markdown-body .border {
    border: 1px solid #e1e4e8 !important;
}

.markdown-body .border-0 {
    border: 0 !important;
}

.markdown-body .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

.markdown-body .rounded-1 {
    border-radius: 3px !important;
}

.markdown-body .bg-white {
    background-color: #fff !important;
}

.markdown-body .bg-gray-light {
    background-color: #fafbfc !important;
}

.markdown-body .text-gray-light {
    color: #6a737d !important;
}

.markdown-body .mb-0 {
    margin-bottom: 0 !important;
}

.markdown-body .my-2 {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

.markdown-body .pl-0 {
    padding-left: 0 !important;
}

.markdown-body .py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.markdown-body .pl-1 {
    padding-left: 4px !important;
}

.markdown-body .pl-2 {
    padding-left: 8px !important;
}

.markdown-body .py-2 {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.markdown-body .pl-3,
.markdown-body .px-3 {
    padding-left: 16px !important;
}

.markdown-body .px-3 {
    padding-right: 16px !important;
}

.markdown-body .pl-4 {
    padding-left: 24px !important;
}

.markdown-body .pl-5 {
    padding-left: 32px !important;
}

.markdown-body .pl-6 {
    padding-left: 40px !important;
}

.markdown-body .f6 {
    font-size: 12px !important;
}

.markdown-body .lh-condensed {
    line-height: 1.25 !important;
}

.markdown-body .text-bold {
    font-weight: 600 !important;
}

.markdown-body:before {
    content: "";
    display: table;
}

.markdown-body:after {
    clear: both;
    content: "";
    display: table;
}

.markdown-body>:first-child {
    margin-top: 0 !important;
}

.markdown-body>:last-child {
    margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-body blockquote,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
    margin-bottom: 16px;
    margin-top: 0;
}

.markdown-body hr {
    background-color: #e1e4e8;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
}

.markdown-body blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

.markdown-body blockquote>:first-child {
    margin-top: 0;
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0;
}

.markdown-body kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

.markdown-body h1 {
    font-size: 2em;
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

.markdown-body h2 {
    font-size: 1.5em;
}

.markdown-body h3 {
    font-size: 1.25em;
}

.markdown-body h4 {
    font-size: 1em;
}

.markdown-body h5 {
    font-size: .875em;
}

.markdown-body h6 {
    color: #6a737d;
    font-size: .85em;
}

.markdown-body ol,
.markdown-body ul {
    padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
    margin-bottom: 0;
    margin-top: 0;
}

.markdown-body li {
    word-wrap: break-all;
}

.markdown-body li>p {
    margin-top: 16px;
}

.markdown-body li+li {
    margin-top: .25em;
}

.markdown-body dl {
    padding: 0;
}

.markdown-body dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    padding: 0;
}

.markdown-body dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
}

.markdown-body table {
    display: block;
    overflow: auto;
    width: 100%;
}

.markdown-body table th {
    font-weight: 600;
}

.markdown-body table td,
.markdown-body table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.markdown-body img {
    margin: 30px auto;
    max-width: 100%;
    transition: opacity .3s ease-in;
    cursor: pointer;
    border-radius: 5px;

}

.markdown-body .image-alt {
    text-align: center;
    color: #7f8c8d;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 30px
}

.markdown-body img[align=right] {
    padding-left: 20px;
}

.markdown-body img[align=left] {
    padding-right: 20px;
}

.markdown-body code {
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

.markdown-body pre {
    word-wrap: normal;
}

.markdown-body pre>code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
}

.markdown-body .highlight {
    margin-bottom: 16px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

.markdown-body pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
}

.markdown-body .commit-tease-sha {
    color: #444d56;
    display: inline-block;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-size: 90%;
}

.markdown-body .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
}

.markdown-body .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

.markdown-body .blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27, 31, 35, .3);
    cursor: pointer;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

.markdown-body .blob-num:hover {
    color: rgba(27, 31, 35, .6);
}

.markdown-body .blob-num:before {
    content: attr(data-line-number);
}

.markdown-body .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

.markdown-body .blob-code-inner {
    color: #24292e;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}

.markdown-body .pl-token.active,
.markdown-body .pl-token:hover {
    background: #ffea7f;
    cursor: pointer;
}

.markdown-body kbd {
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

.markdown-body :checked+.radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
}

.markdown-body .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

.markdown-body .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

.markdown-body .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

.markdown-body .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

.markdown-body .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

.markdown-body .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

.markdown-body .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

.markdown-body .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

.markdown-body .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

.markdown-body .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

.markdown-body .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

.markdown-body .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

.markdown-body .task-list-item {
    list-style-type: none;
}

.markdown-body .task-list-item+.task-list-item {
    margin-top: 3px;
}

.markdown-body .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

.markdown-body hr {
    border-bottom-color: #eee;
}

.markdown-body .pl-0 {
    padding-left: 0 !important;
}

.markdown-body .pl-1 {
    padding-left: 4px !important;
}

.markdown-body .pl-2 {
    padding-left: 8px !important;
}

.markdown-body .pl-3 {
    padding-left: 16px !important;
}

.markdown-body .pl-4 {
    padding-left: 24px !important;
}

.markdown-body .pl-5 {
    padding-left: 32px !important;
}

.markdown-body .pl-6 {
    padding-left: 40px !important;
}

.markdown-body .pl-7 {
    padding-left: 48px !important;
}

.markdown-body .pl-8 {
    padding-left: 64px !important;
}

.markdown-body .pl-9 {
    padding-left: 80px !important;
}

.markdown-body .pl-10 {
    padding-left: 96px !important;
}

.markdown-body .pl-11 {
    padding-left: 112px !important;
}

.markdown-body .pl-12 {
    padding-left: 128px !important;
}

/*

Meink Site css

*/
body {

    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

p a {
    text-decoration: none;
    color: #7f8c8d;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
}

a {
    color: #212529;

}

a:focus,
a:hover {
    color: #0085A1;
    text-decoration: none;
}

blockquote {
    font-style: normal;
    color: #868e96;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md,
.col-md-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 576, 768px, 992px, 1200px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .mx-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.navbar-brand {
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;

}

.navbar .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.nav-item {
    margin-bottom: -1px;
    align-items: center;

}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .site-heading {
    padding: 80px 0 200px;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
}

.article {
    margin-bottom: 20px;
    padding-bottom: 45px;
    border-bottom: 1px dashed #ddd
}

.article .title {
    font-size: 26px;
    margin-bottom: 5px;
    color: #293846;
    display: block;



}

.article .title .top {
    color: #7f8c8d;
    margin-right: 5px
}

.article .cover {
    color: #eee;
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 15px
}

.article .preview {
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    display: inline-block;
    line-height: 16px;
    font-size: 18px;
    color: #293846
}

.preview code {
    font-size: 90%;
    color: #e83e8c;
    word-break: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

.article .info {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #7f8c8d;
    font-size: 14px
}

.article .name {
    margin-right: 10px;
    color: #7f8c8d;
    font-size: 16px;
    text-decoration: none
}

.article .date {
    color: #7f8c8d
}

.article .tags {
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    margin-left: 10px;
    float: right
}

.article .tags .tag {
    margin-right: 10px;
    color: #7f8c8d;
    text-decoration: none;

}

.article .tags .conred {
    margin-right: 5px;
    text-decoration: none;
    display: block;
    color: #7f8c8d;
    padding-top: 20px;
}

.article:last-child {
    border-bottom: 0
}

.article .logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-top: px;
    border: 1px solid #ddd
}

.article .recommend {
    margin-top: 50px;
    overflow: auto;
    width: 100%
}

.article .recommend .head {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
    color: #7f8c8d;
    text-align: center;

}

.article .recommend .link {
    color: #293846;
    text-align: center;
    display: block;
    text-decoration: none;
}

.article .recommend .prev.more {
    width: 45%;
    float: left;
    display: block;

}

.article .recommend .prev.more .head,
.article .recommend .prev.more .link {
    text-align: left;
}

.article .recommend .next.more {
    width: 45%;
    text-align: right;
    float: right;
    display: block;
}

.article .recommend .next.more .head,
.article .recommend .next.more .link {
    text-align: right;
}

.article .author {
    margin-top: 36px;
    padding-top: 40px;
    text-align: center
}

.article .author .avatar {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px solid #fff
}

.article .author .avatar:before {
    border-top: 1px dashed #ddd;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 36px;
    z-index: -1
}

.article .author .name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px
}

.article .author .intro {
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-style: italic;
    margin-top: 8px;
    font-size: 14px;
    color: #7f8c8d
}

.archive {
    padding-bottom: 100px
}

.archive a,
.tag a {
    color: #009a61;
    text-decoration: none;
   /* border-bottom: 1px dashed #009a61 */
}

.archive .site .subtitle,
.archive .site .title,
.tag .site .subtitle,
.tag .site .title {
    text-align: left;
    font-family: Helvetica Neue, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    font-size: 36px;
    text-decoration: none;
    color: black;

}

.archive .header,
.tag .header {
    padding-top: 60px;
    font-size: 18px
}

.archive .header .title,
.tag .header .title {
    margin-right: 5px;
    font-weight: 700
}

.archive .header .subtitle,
.tag .header .subtitle {
    font-style: italic
}

.archive .archive-list,
.tag .archive-list {
    margin-top: 50px;
    list-style: none;
}

.archive .archive-list .archive-item,
.tag .archive-list .archive-item {
    margin: 40px 0
}

.archive .archive-list .archive-item .archive-year,
.tag .archive-list .archive-item .archive-year {
    margin: 15px 0;
    color: #293846;
    font-weight: 700;

}

.archive .archive-list .archive-item .article-list .article-item,
.tag .archive-list .archive-item .article-list .article-item {
    margin-bottom: 10px
}

.archive .archive-list .archive-item .article-list .article-item .date,
.tag .archive-list .archive-item .article-list .article-item .date {
    color: #7f8c8d;
    margin-right: 20px;
    font-style: italic
}

.tag .tag-list {
    margin-top: 50px;
    margin-bottom: 100px;
}

.archive .tag-list .tag-item,
.tag .tag-list .tag-item {
    margin-right: 10px;
    margin-bottom: 25px;
    float: left
}

.tag .tag-list .tag-item .tag-name {
    padding: 5px 7px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 14px
}

.tag .tag-list .tag-item .tag-name:hover {
    background-color: #293846;
    color: #fcfcfc;
    border: 1px solid #293846
}

.page-nav {
    position: relative;
    height: 50px;
    font-size: 14px
}

.page-nav a {
    color: #7f8c8d;
    font-style: italic;
    text-decoration: none
}

.page-nav .nav {
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    color: #7f8c8d;
    position: absolute;
    z-index: -1
}

.page-nav .prev {
    float: left
}

.page-nav .prev:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 3px;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: 5px
}

.page-nav .next {
    float: right
}

.page-nav .next:after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 3px;
    display: block;
    float: right;
    margin-left: 7px;
    margin-top: 5px
}

footer {
    padding: 50px 0 0px;

}

footer .list-inline-item {
    margin: 0;
    padding-left: 50px;
}

footer .copyright {
    font-size: 14px;
    color: #7f8c8d;
    text-align: center;
}

footer .footerlogo {
    text-align: center;
    margin-top: 20px;
}
